{% extends "base.html" %}

{% block page_title %}journal{% endblock %}
{% block content_title %}{{ article }}{% endblock %}

{% block content %}
	<article>
		<header>
			<h1><a href="{% url journal %}">Journal</a> &bull; <a href="{% url article [article.slug] %}">{{ article }}</a></h1>
			<details>
				published {{ article.date }}
			</details>
		</header>
		{{ article.body|safe }}
	</article>
{% endblock  %}

{% block aside %}
	<ul>
		{% for tag in tags %}
			<li>{{ tag }}</li>
		{% endfor %}
	</ul>
{% endblock %}