<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>rivet &bull; {% block page_title %}{% endblock %}</title>
	<link rel="stylesheet" href="{{ static_url }}/styles/rivet.css">
	<link rel="stylesheet" href="{{ static_url }}/scripts/rivet.js">
</head>
<body>
	
	<header class="group">
		<h1>&bull; rivet</h1>
		<nav>
			<ul>
				<li><a href="{% url home %}" title="">Home</a></li>
				<li><a href="{% url db-test %}" title="">Database</a></li>
				<li><a href="{% url work design 10 %}" title="">URL Params</a></li>
				<li><a href="{% url reverse %}" title="">URL Reversing</a></li>
				<li><a href="{% url redirect-start %}" title="">Redirects!</a></li>
			</ul>
		</nav>
	</header>
	<section class="group">
		<header>
			<h1>{% block content_title %}{% endblock %}</h1>
		</header>
		<section>
			{% block content %}{% endblock %}
		</section>
		<aside>{% block aside %}{% endblock %}</aside>
	</section>
	<footer class="group">
		footer
	</footer>
</body>
</html>