<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>rivet &bull; {% block page_title %}{% endblock %}</title>
	<link rel="stylesheet" href="{{ static_url }}/styles/rivet.css">
	<link rel="stylesheet" href="{{ static_url }}/styles/tm_twilight.css">
	<script type="text/javascript" src="{{ static_url }}/scripts/rivet.js"></script>
</head>
<body>
	
	<header class="group">
		<h1>&bull; rivet</h1>
		<nav>
			<ul>
				<li><a href="{% url home %}" title="">Home</a></li>
				<li><a href="{% url about %}" title="">About</a></li>
				<li><a href="{% url journal %}" title="">Journal</a></li>
				<li><a href="{% url contact %}" title="">Contact</a></li>
			</ul>
		</nav>
	</header>
	<section class="group">
		<header>
			<h1>{% block content_title %}{% endblock %}</h1>
		</header>
		{% block main %}
			<section>
				{% block content %}{% endblock %}
			</section>
			<aside>{% block aside %}{% endblock %}</aside>
		{% endblock  %}
	</section>
	<footer class="group">
		footer
	</footer>
</body>
</html>