{% extends "base.html" %}

{% block page_title %}database test{% endblock %}
{% block content_title %}Database Test{% endblock %}

{% block content %}
    <ul>
        {% for user in users %}
            <li>
                {{ user }}
            </li>
        {% endfor %}
    </ul>
    <hr>
    <ul>
    	{% for x in num_pages %}
    		<li{% if x == page %} class="active"{% endif %}><a href="../page{{ x }}/">{{ x }}</a></li>
    	{% endfor %}
    </ul>
{% endblock  %}

{% block aside %}
	aside...
{% endblock %}