{% extends "base.html" %}

{% block page_title %}url reverse{% endblock %}
{% block content_title %}Reversing Routes &rarr; URLs{% endblock %}

{% block content %}
	<h1>reverse() function</h1>
	<ol>
		<li><code>reverse('home')</code> = "<code>/</code>"</li>
		<li><code>reverse('work', array('some-category', '10'))</code> = "<code>/work/some-category/10</code>"</li>
		<li><code>reverse('work', array('some-category'))</code> = "<code>/work/some-category</code>" (<code>id</code> is optional for the 'work' route, so this will still match)</li>
		<li>etc&hellip;</li>
	</ol>
	
	<h1>URL tag in Twig</h1>
    <ol>
    	<li>examples to come...</li>
    </ol>
    
{% endblock  %}

{% block aside %}
	aside...
{% endblock %}